/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mapTable-table {
    width: 100%;
  }

.mat-table-container{
  position: relative;
  max-height: 400px;
  overflow-x: auto;
}
